<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--Navigator Fragment-->
<th:block th:fragment="navigator">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/card">CS Study</a>
        </div>
        <div class="navbar-menu">
            <a class="nav-link" id="nav-link-interview" onclick="interview()">인터뷰</a>
            <a class="nav-link" id="nav-link-categorymanage" href="/card/management">카테고리 관리</a>
            <a class="nav-link" id="nav-link-insert" onclick="insert()">카드 추가</a>
            <a class="nav-link" id="nav-link-sitemap" href="#" onmouseenter="showNavbarSitemapDropdown()" onmouseleave="hideNavbarSitemapDropdown()">사이트맵</a>
        </div>
        <div class="navbar-search">
            <div class="container-search">
                <select id="searchCriteria">
                    <option value="category">
                        카테고리
                    </option>
                    <option value="tag">
                        태그
                    </option>
                    <option value="question">
                        질문
                    </option>
                </select>
                <input type="text" id="searchKeyword" onkeyup="searchEnterKey(event)"/>
                <button id="btn-search" onclick="search()">검색</button>
            </div>
            <form id="searchForm" method="get" action="/card/list">
                <input type="hidden" name="tag" id="tagKey">
                <input type="hidden" name="question" id="questionKey">
                <input type="hidden" name="cid" id="categoryKey">
                <input type="hidden" name="keystring" id="keystring">
            </form>
        </div>
        <button class="navbar-narrow-show" onclick="narrowNavbarShow()"></button>
    </nav>
    <div class="navbar-dropdown-sitemap" onmouseenter="showNavbarSitemapDropdown()" onmouseleave="hideNavbarSitemapDropdown()">
        <h1>Site Map</h1>
        <div class="slick-slider-sitemap">
            <div class="container-sitemap-list">
                <ul class="sitemap-list">
                    <li class="sitemap-list-item">
                        <img class="sitemap-img" src="/img/app_image_cardgame.png">
                    </li>
                    <li class="sitemap-list-item">
                        <img class="sitemap-img" src="/img/app_image_cardgame2.png">
                    </li>
                    <li class="sitemap-list-item">
                        <img class="sitemap-img" src="/img/app_image_cardgame3.png">
                    </li>
                    <li class="sitemap-list-item">
                        <img class="sitemap-img" src="/img/app_image_cardgame4.png">
                    </li>
                </ul>
            </div>
            <button class="btn-sitemap-pre" onclick="preItem()">pre</button>
            <button class="btn-sitemap-nxt" onclick="nxtItem()">nxt</button>
        </div>
    </div>
    <dialog id="dialog-interview">
        <h2 class="caution">카테고리 선택</h2>
        <form th:method="get" th:action="@{/card/interview}" id="interviewForm">
            <th:block th:each="categoryDto: ${ categoryDtoList }">
                <label><input th:type="checkbox"
                              th:name="keyword"
                              th:value="${ categoryDto.cid }"
                              th:text="${ categoryDto.cname }">
                </label>
            </th:block>
        </form>
        <button id="interviewFormSubmit" onclick="interviewSubmit()">시작</button>
        <button id="interviewCancel" onclick="interviewCancel()">취소</button>
    </dialog>
    <div th:replace="fragment/modal::modalFragment(modalId='modal-insert',
        title=~{::.modal-insert-title},
        content=~{::.modal-insert-content},
        buttons=~{::.modal-insert-buttons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="modal-insert-title">
            <a id="modal-insert-title-text">카드 추가</a>
        </th:block>
        <th:block class="modal-insert-content">
            <form id="modal-insert-content-category">
                <select id="modal-insert-content-category-select">
                    <option value="none" selected disabled hidden>===선택===</option>
                    <option th:each="categoryDto : ${categoryDtoList}"
                            th:value="${categoryDto.cid}"
                            th:text="${categoryDto.cname}"></option>
                </select>
            </form>
            <a id="modal-insert-content-qtitle">Q.</a>
            <textarea maxlength="200" class="modal-insert-content-input"
                      id="modal-insert-content-question"></textarea>
            <a id="modal-insert-content-atitle">A.</a>
            <textarea maxlength="800" class="modal-insert-content-input"
                      id="modal-insert-content-answer"></textarea>
            <a id="modal-insert-content-ttitle">T.</a>
            <textarea maxlength="210" class="modal-insert-content-input"
                      id="modal-insert-content-tags"></textarea>
        </th:block>
        <th:block class="modal-insert-buttons">
            <button class="clickable modal-insert-buttons" type="button"
                    id="modal-insert-buttons-update"
                    onclick="insertModalSubmit()">추가</button>
            <button class="clickable modal-insert-buttons" type="button"
                    id="modal-insert-buttons-close"
                    onclick="insertModalClose()">닫기</button>
        </th:block>
    </div>
    <div class="navbar-narrow-overlay" onclick="narrowNavbarHide()"></div>
    <div class="navbar-narrow">
        <div class="navbar-narrow-top">
            <button class="navbar-narrow-hide" onclick="narrowNavbarHide()"></button>
        </div>
        <div class="navbar-narrow-container">
            <div class="navbar-narrow-box">
                <ul class="list-nav-link">
                    <li onclick="interview()">
                        인터뷰
                    </li>
                    <li onclick="location.href='/card/management'">
                        카테고리 관리
                    </li>
                    <li onclick="insert()">
                        카드 추가
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        let categoryDtoList = [[${categoryDtoList}]];
    </script>
</th:block>
</html>