<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="selectBoxFragment(selectBoxId, optionList, optionText, optionValue)"
     th:with="defaultLabel=(${ defaultLabel } ?: null)"
     th:id="${ selectBoxId }"
     th:attr="data-value=(${ defaultLabel } ? 'none' : ${ optionList[0][optionValue] })"
     class="select-box-customized"
     >
    <div class="sb-option-selected"
         th:attr="onclick=|document.querySelector(`#${ selectBoxId }`).classList.toggle('sb-option-open')|">
        <span class="sb-option-text" th:text="(${ defaultLabel } ?: ${ optionList[0][optionText] })"></span>
        <span class="drop-mark"></span>
    </div>
    <div class="sb-option-container">
        <ul class="sb-option-list">
            <li class="sb-option-item" th:each="option: ${ optionList }"
                th:attr="data-value=${ option[optionValue] },
                onclick=|selectOption('${ selectBoxId }', '${ option[optionText] }', '${ option[optionValue] }')|">
                <span th:text="${ option[optionText] }"></span>
            </li>
        </ul>
    </div>
    <script defer th:inline="javascript">
        document.addEventListener("keyup", (e) => {
            if (e.keyCode == 27) {
                document.querySelector(`#${ [[${selectBoxId}]] }`).classList.remove('sb-option-open');
            }
        });
    </script>
</div>
</html>