.category-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-row-gap: 30px;
}

.card-category-frame {
    display: inline-block;
}

.card-category {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    padding: 5px;
}

.card-category:hover {
    filter: brightness(80%);
}

.category-name {
    text-align: center;
    font-weight: bold;
}

.category-count {
    text-align: right;
}