/* remove default CSS */
/*a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}[hidden]{display:none}body{line-height:1}menu,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*/
abbr, acronym, address, applet, article, aside, audio, b, big, body, canvas, caption, center, cite, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, hgroup, html, i, iframe, img, ins, kbd, legend, main, nav, object, output, pre, q, ruby, s, samp, section, small, strike, sub, summary, sup, tfoot, time, tt, u, var, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block} [hidden]{display:none} menu{list-style:none} q{quotes:none} q:after,q:before{content:'';content:none}

/* variable */
:root {
    --main-color: #F7DFFF;
    --point-color: #E78FFF;
    --navigator-height: 55px;
    --page-title-height: 45px;
}

html {
    tab-size: 4;
}

body {
    padding: 0.1px;
}

pre {
    border: 3px double black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

code {
    display: block;
    overflow: scroll;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* others */
.clickable {
    cursor: pointer;
}
:focus {
    outline: 0;
}

/* card-frame */
.card-frame {
    border: 2px solid black;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background: url("/img/card_background.jpg") no-repeat;
    background-size: cover;
}

/* modal */
.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
    z-index: 200;
}
.modal-window {
    position: absolute;
    border-radius: 3px;
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    z-index: 201;
}
.modal-title > p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
}
.modal-contents {
    padding-top: 15px;
    padding-bottom: 5px;
}
.modal-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}
.modal-buttons > button {
    margin-right: 5px;
}

/* Select Box */
.select-box-customized {
    width: 150px;
    cursor: default;
}
.sb-option-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    width: calc(100% - 14px);
    height: 30px;
    background: white;
    border-radius: 3px;
}
.sb-option-container {
    visibility: hidden;
    margin-top: 5px;
    border: 1px solid black;
    width: calc(100% - 4px);
    background: white;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0s, visibility 0s;
}
.sb-option-container ul, .sb-option-container li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sb-option-open .drop-mark {
    transform: rotate(-180deg);
}
.sb-option-open .sb-option-container {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}
.sb-option-item {
    display: flex;
    height: 30px;
    align-items: center;
    background: white;
}
.sb-option-item span {
    padding-left: 5px;
    padding-right: 5px;
}
.sb-option-item:hover {
    filter: brightness(90%);
}

/* drop-mark */
.drop-mark {
    background: url('/img/drop_arrow_image.png') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    will-change: transform;
}

/* scroll bar */
::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: var(--point-color);
    opacity: 0.8;
    border-radius: 5px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

/* 네비바 제외 body */
.main {
    padding-top: 20px;
    padding-bottom: 20px;
    height: calc(100vh - var(--navigator-height) - var(--page-title-height) - 40px);
    margin-top: calc(var(--navigator-height) + var(--page-title-height));
    overflow-y: overlay;
}