html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#title {
    position: absolute;
    top: 20px;
    left: 3%;
    font-size: 40px;
    border-bottom: 2px solid black;
}

.container-item {
    margin-top: 100px;
    margin-left: 5%;
}

.containerBody, .containerLast {
    display: flex;
    align-items: center;
}

.category {
    margin: 10px;
    width: 80%;
    height: 100px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: lightgray;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
}

.category:hover {
    background-color: chartreuse;
}

.update, .delete {
    margin-left: 10px;
}

#newCategoryName, .newCategoryName {
    font-size: 40px;
}

.dialog {
    width: 600px;
    height: 300px;
    text-align: center;
}

.checkCaution {
    margin-top: 100px;
}

.del {
    margin-right: 10px;
}

.cancel {
    margin-left: 10px;
}