/* basic CSS */
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

/* content frame CSS */
.container-item {
    margin-top: 30px;
    margin-bottom: 30px;
    --width: min(80%, 930px);
    width: var(--width);
    margin-left: calc((100vw - var(--width)) / 2);
}

/* category frame CSS */
.container-body {
    margin: 15px;
    --height: 100px;
    height: var(--height);
    border-radius: calc(var(--height) * 0.2);
    box-shadow: 3px 3px 5px 2px rgba(173, 174, 174, 0.6);
    background-size: calc(100% + 300px) 100%;
    background-image: linear-gradient(135deg, white, white calc(100% - 240px), var(--point-color) calc(100% - 200px), var(--point-color) 100%);
}
.container-last {
    margin: 10px;
    --height: 100px;
    height: var(--height);
    border-radius: calc(var(--height) * 0.2);
    box-shadow: 3px 3px 5px 2px rgba(173, 174, 174, 0.6);
    background-color: white;
    transition: background-color 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update, .delete {
    opacity: 0;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    transition: opacity 500ms;
}
.category-name{
    font-size: 30px;
    float: left;
    height: 40px;
    margin-top: 28px;
    margin-left: 50px;
}
.new-category-name {
    font-size: 30px;
    margin-top: 30px;
    height: 36px;
    width: min(calc(100% - 240px), 700px);
}
#create-category-name {
    float: left;
    margin-left: 50px;
}
#create-category-button {
    display: none;
    float: right;
    margin-right: 65px;
    margin-top: 25px;
    padding: 0;
    border: 0;
    background: none;
}

/* category hover and button pop animation CSS */
@keyframes pop-down {
    0% {
        background-position: -230px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes pop-up {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -230px 0;
    }
}
.buttons-pop-down {
    animation: pop-down 0.5s ease forwards;
}
.container-body.hover, .container-body:hover {
    animation: pop-up 0.5s ease forwards;
}
.container-last.hover, .container-last:hover {
    background-color: var(--point-color);
}
.container-body:hover .update, .container-body:hover .delete, .target {
    opacity: 1;
}

/* save button CSS */
.save {
    position: fixed;
    bottom: -150px;
    right: 50px;
    padding: 10px;
    transition: bottom 1s;
}
#save {
    width: 80px;
    --height: 50px;
    height: var(--height);
    border-radius: calc(var(--height) * 0.2);
    font-weight: bold;
    background-color: var(--main-color);
    border: 1px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0 4px 7px 2px rgba(200, 200, 200, 0.7);
}
#save:hover {
    background-color: var(--point-color);
}
.save-pop-up {
    bottom: 50px;
}

/* modal change and delete CSS */
#modal-change .modal-window, #modal-delete .modal-window {
    width: 450px;
    height: 300px;
    text-align: center;
}
#modal-change .change-caution, #modal-delete .delete-caution {
    margin-top: 90px;
    font-size: 25px;
    font-weight: bold;
}
#modal-change .modal-buttons, #modal-delete .modal-buttons {
    justify-content: center;
}
#modal-change .modal-buttons > button, #modal-delete .modal-buttons > button {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}