html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.container-item {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 10%;
    width: 80%;
}

.containerBody {
    margin: 15px;
    --height: 100px;
    height: var(--height);
    border-radius: calc(var(--height) * 0.2);
    box-shadow: 3px 3px 5px 2px rgba(173, 174, 174, 0.6);
    background-size: calc(100% + 300px) 100%;
    background-image: linear-gradient(135deg, white, white calc(100% - 240px), var(--point-color) calc(100% - 200px), var(--point-color) 100%);
}

.containerLast {
    margin: 10px;
    --height: 100px;
    height: var(--height);
    border-radius: calc(var(--height) * 0.2);
    box-shadow: 3px 3px 5px 2px rgba(173, 174, 174, 0.6);
    background-color: white;
    transition: background-color 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pop-down {
    0% {
        background-position: -230px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes pop-up {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -230px 0;
    }
}

.buttons-pop-down {
    animation: pop-down 0.5s ease forwards;
}

.containerBody:hover {
    animation: pop-up 0.5s ease forwards;
}

.containerBody.hover {
    animation: pop-up 0.5s ease forwards;
}

.containerLast:hover {
    background-color: var(--point-color);
}

.containerLast.hover {
    background-color: var(--point-color);
}

.containerBody:hover .update, .containerBody:hover .delete {
    opacity: 1;
}

.update, .delete {
    opacity: 0;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    transition: opacity 500ms;
}

.target {
    opacity: 1;
}

.categoryName{
    font-size: 30px;
    float: left;
    height: 40px;
    margin-top: 28px;
    margin-left: 50px;
}

.newCategoryName {
    font-size: 30px;
    margin-top: 30px;
    height: 36px;
    width: min(calc(100% - 240px), 700px);
}

#newCategoryName {
    float: left;
    margin-left: 50px;
}

#createCategory {
    display: none;
    float: right;
    margin-right: 65px;
    margin-top: 25px;
    padding: 0;
    border: 0;
    background: none;
}

.save {
    position: fixed;
    bottom: -150px;
    right: 50px;
    padding: 10px;
    transition: bottom 1s;
}

#save {
    width: 80px;
    --height: 50px;
    height: var(--height);
    border-radius: calc(var(--height) * 0.2);
    border: 0 solid black;
    font-weight: bold;
    background-color: var(--main-color);
    border: 1px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0px 4px 7px 2px rgba(200, 200, 200, 0.7);
}

#save:hover {
    background-color: var(--point-color);
}

.savepopup {
    bottom: 50px;
}

#modal-change .modal-window {
    width: 450px;
    height: 300px;
    text-align: center;
}
.change-caution {
    margin-top: 90px;
    font-size: 25px;
    font-weight: bold;
}
.change {
    margin-top: 90px;
    margin-right: 20px;
}
.cancel {
    margin-left: 20px;
}