/* basic CSS */
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

/* content frame CSS */
.flex-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

/* card frame CSS */
.container {
    display: flex;
    position: relative;
    width: calc(100vw - 340px);
    height: calc(100vh - 340px);
    border-radius: 40px;
    border: 1px solid rgba(200, 200, 200, 0.7);
    box-shadow: 0 0 5px 2px rgba(173, 174, 174, 0.6);
    justify-content: center;
    align-items: center;
    word-break: break-word;
    text-align: center;
}
.card-title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 100px;
    font-family: "Ink Free";
    margin: 0;
}
.card-category {
    position: absolute;
    right: 30px;
    top: 40px;
    font-size: 20px;
    margin: 0;
}
.card-text {
    font-size: min(6vw, 50px);
    padding-left: 20px;
    padding-right: 20px;
}

/* card rotate animation CSS */
.rotate {
    animation-name: rotate;
    animation-duration: 1s;
}
@keyframes rotate {
    50% {
        transform: rotateY(90deg);
    }
}

/* card button CSS */
.prev, .next {
    align-items: center;
    margin: 50px;
}
#prev, #next {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 0 solid black;
    align-items: center;
    justify-content: center;
    background: none;
}
#prev:hover, #next:hover {
    background-color: var(--point-color);
}

/* card slide animation CSS */
.prev-show {
    animation-name: prev-show;
    animation-duration: 1s;
}
@keyframes prev-show {
    49% {
        opacity: 0;
        transform: translateX(60%);
    }
    50% {
        opacity: 0;
        transform: translateX(-60%);
    }
}
.next-show {
    animation-name: next-show;
    animation-duration: 1s;
}
@keyframes next-show {
    49% {
        opacity: 0;
        transform: translateX(-60%);
    }
    50% {
        opacity: 0;
        transform: translateX(60%);
    }
}

/* finish button CSS */
.finish {
    position: absolute;
    top: 130px;
    right: 50px;
}
#finish {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0 4px 7px 2px rgba(200, 200, 200, 0.7);
    background-color: var(--main-color);
}
#finish:hover {
    background-color: var(--point-color);
}

/* modal close CSS */
#modal-close .modal-window {
    width: 450px;
    height: 300px;
    text-align: center;
}
.close-caution {
    margin-top: 90px;
    font-size: 25px;
    font-weight: bold;
}
#modal-close .modal-buttons {
    justify-content: center;
}
#modal-close .modal-buttons > button {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}