html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    position: fixed;
    margin-top: 85px;
    margin-left: 170px;
    margin-right: 170px;
    width: calc(100vw - 340px);
    height: calc(100vh - 340px);
    border-radius: 40px;
    border: 1px solid rgba(200, 200, 200, 0.7);
    box-shadow: 0 0 5px 2px rgba(173, 174, 174, 0.6);
    justify-content: center;
    align-items: center;
    word-break: break-word;
    text-align: center;
    overflow: hidden;
}

#card-title {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 100px;
    font-family: "Ink Free";
    margin: 0;
}

#card-category {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 20px;
    margin: 0;
}

.rotate {
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    50% {
        transform: rotateY(90deg);
    }
}

.text {
    font-size: min(6vw, 50px);
    padding-left: 20px;
    padding-right: 20px;
}

.prev {
    position: absolute;
    display: flex;
    margin-top: 85px;
    height: calc(100vh - 310px);
    left: 50px;
    align-items: center;
}

.next {
    position: absolute;
    display: flex;
    margin-top: 85px;
    height: calc(100vh - 310px);
    right: 50px;
    align-items: center;
}

#prev, #next {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 0 solid black;
    align-items: center;
    justify-content: center;
    background: none;
}

#prev:hover, #next:hover {
    background-color: var(--point-color);
}

@keyframes prevshow {
    49% {
        opacity: 0;
        transform: translateX(60%);
    }
    50% {
        opacity: 0;
        transform: translateX(-60%);
    }
}

.prevshow {
    animation-name: prevshow;
    animation-duration: 1s;
}

@keyframes nextshow {
    49% {
        opacity: 0;
        transform: translateX(-60%);
    }
    50% {
        opacity: 0;
        transform: translateX(60%);
    }
}

.nextshow {
    animation-name: nextshow;
    animation-duration: 1s;
}

.finish {
    position: absolute;
    top: 130px;
    right: 50px;
}

#finish {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0 4px 7px 2px rgba(200, 200, 200, 0.7);
    background-color: var(--main-color);
}

#finish:hover {
    background-color: var(--point-color);
}

#modal-close .modal-window {
    width: 450px;
    height: 300px;
    text-align: center;
}
.close-caution {
    margin-top: 90px;
    font-size: 25px;
    font-weight: bold;
}
.end {
    margin-top: 90px;
    margin-right: 20px;
}
.cancel {
    margin-left: 20px;
}