html {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-radius: 40px;
    border: 2px solid black;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    50% {
        transform: rotateY(90deg);
    }
}

.text {
    font-size: 50px;
}

.next {
    position: absolute;
    bottom: 50px;
    right: 170px;
}

#next {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 0px solid black;
}

#next:hover {
    background-color: aqua;
}

@keyframes nextshow {
    49% {
        opacity: 0;
        margin-left: -60%;
    }
    50% {
        opacity: 0;
        margin-left: 60%;
    }
}

.nextshow {
    animation-name: nextshow;
    animation-duration: 2s;
}

.finish {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#finish {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 0px solid black;
}

#finish:hover {
    background-color: aqua;
}

.dialog {
    width: 400px;
    height: 300px;
    text-align: center;
}

.caution {
    margin-top: 100px;
}

.end {
    margin-right: 10px;
}

.cancel {
    margin-left: 10px;
}