html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.head-div {
    position: absolute;
    top: 65px;
    left: 30px;
}

#list {
    font-size: 40px;
    margin: 0;
    border-bottom: 2px solid black;
}


.container {
    position: absolute;
    top: 165px;
    left: 5%;
    width: 90%;
}

.table {
    width: 100%;
    border-collapse: collapse;;
    word-break: break-all;
}

table, th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    border-top: 3px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.noline {
    border-top: 0px;
    border-bottom: 0px;
}

tr:hover {
    background-color: lightgray;
}
.head:hover{
    background-color: white;
}

.id, .category, .question {
    border-bottom: 1px solid lightgray;
}

.update {
    padding: 0px;
}

.delete {
    padding: 0px;
}

#modal-view .modal-window {
    background-color: #fcfcfc;
}

#modal-view .modal-contents {
    height: 52%;
}

#modal-view-title-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
}

#modal-view-content-category {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    font-size: 20px;
}

#modal-view-content-qtitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 105px;
    font-size: 30px;
    font-family: "Ink Free";
}

#modal-view-content-atitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: "Ink Free";
}

#modal-view-content-ttitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: "Ink Free";
}

.modal-view-content-texts {
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: -webkit-fill-available;
    font-size: 20px;
    resize: none;
    background-color: white;
}

#modal-view-content-question {
    margin-top: 100px;
}

#modal-view-content-answer {
    height: -webkit-fill-available;
}

#modal-view-content-tags {
    margin-bottom: 50px;
}

#modal-view-buttons-close {
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 25px;
    right: 40px;
    border-radius: 5px;
    border: 1px solid deepskyblue;
    background-color: paleturquoise;
}

#modal-view-buttons-close:hover {
    background-color: aqua;
}

#modal-update .modal-window {
    background-color: #fcfcfc;
}

#modal-update .modal-contents {
    height: 52%;
}

#modal-update-title-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
}

#modal-update-content-category {
    position: absolute;
    top: 30px;
    right: 20px;
}

#modal-update-content-category-select {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

#modal-update-content-qtitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 105px;
    font-size: 30px;
    font-family: "Ink Free";
}

#modal-update-content-atitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: "Ink Free";
}

#modal-update-content-ttitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: "Ink Free";
}

.modal-update-content-input {
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: -webkit-fill-available;
    font-size: 20px;
    resize: none;
}

#modal-update-content-question {
    margin-top: 100px;
}

#modal-update-content-answer {
    height: -webkit-fill-available;
}

#modal-update-content-tags {
    margin-bottom: 50px;
}

.modal-update-buttons {
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 25px;
    border-radius: 5px;
    border: 1px solid deepskyblue;
    background-color: paleturquoise;
}

#modal-update-buttons-update {
    right: 110px;
}

#modal-update-buttons-delete {
    right: 40px;
}

.modal-update-buttons:hover {
    background-color: aqua;
}

.dialog {
    width: 450px;
    height: 300px;
    text-align: center;
}

.delete-caution {
    margin-top: 100px;
}

.remove {
    margin-right: 10px;
}

.cancel {
    margin-left: 10px;
}

.clickable {
    cursor: pointer;
}