html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 5%;
    width: 90%;
}

.table {
    width: 100%;
    border-collapse: collapse;;
    word-break: break-all;
}

table, th, td {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.head > th {
    font-size: 20px;
    font-weight: bold;
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

th {
    border-top: 3px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.noline {
    border-top: 0px;
    border-bottom: 0px;
}

tr:hover {
    background-color: lightgray;
}
.head:hover{
    background-color: white;
}

.id, .category, .question {
    border-bottom: 1px solid lightgray;
}

.update, .delete {
    padding: 0px;
}

/* modal css */
#modal-view .modal-window, #modal-update .modal-window {
    width: 80%;
    height: 600px;
    background-color: #fcfcfc;
}

#modal-view .modal-contents, #modal-update .modal-contents {
    height: 52%;
}

#modal-view-title-text, #modal-update-title-text {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 40px;
    font-weight: bold;
}

#modal-view-content-category {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    font-size: 20px;
}

#modal-update-content-category {
    position: absolute;
    top: 30px;
    right: 20px;
}

#modal-update-content-category-select {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.qtitle, .atitle, .ttitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 105px;
    font-size: 30px;
    font-family: "Ink Free";
}

.atitle, .ttitle {
    margin-top: 5px;
}

.modal-view-content-texts {
    background-color: white;
}

.modal-view-content-texts, .modal-update-content-input {
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: -webkit-fill-available;
    font-size: 20px;
    resize: none;
}

#modal-view-content-question, #modal-update-content-question {
    margin-top: 100px;
}

#modal-view-content-answer, #modal-update-content-answer {
    height: -webkit-fill-available;
}

#modal-view-content-tags, #modal-update-content-tags {
    margin-bottom: 50px;
}

#modal-view-buttons-close {
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 25px;
    right: 40px;
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    background-color: var(--main-color);
}

.modal-update-buttons {
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 25px;
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    background-color: var(--main-color);
}

#modal-update-buttons-update {
    right: 110px;
}

#modal-update-buttons-delete {
    right: 40px;
}

#modal-view-buttons-close:hover, .modal-update-buttons:hover {
    background-color: var(--point-color);
}

#modal-delete .modal-window {
    width: 500px;
    height: 300px;
    text-align: center;
}
.delete-caution {
    margin-top: 90px;
    font-size: 25px;
    font-weight: bold;
}
.modal-buttons {
    justify-content: center;
}

.modal-buttons > button {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}