html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#list {
    position: absolute;
    top: 20px;
    left: 3%;
    font-size: 40px;
    border-bottom: 2px solid black;
}

.container {
    position: absolute;
    top: 140px;
    left: 5%;
    width: 90%;
}

.table {
    width: 100%;
    border-collapse: collapse;;
    word-break: break-all;
}

table, th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    border-top: 3px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.noline {
    border-top: 0px;
    border-bottom: 0px;
}

tr:hover {
    background-color: lightgray;
}
.head:hover{
    background-color: white;
}

.id, .category, .question, .tags {
    border-bottom: 1px solid lightgray;
}

.update {
    padding: 0px;
}

.delete {
    padding: 0px;
}

.modal {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 600px;
    display: none;
    border-radius: 40px;
    border: 1px solid black;
    background-color: white;
    padding-top: 30px;
    padding-left: 10px;
    word-wrap: break-word;
}

.dialog {
    width: 450px;
    height: 300px;
    text-align: center;
}

.delete-caution {
    margin-top: 100px;
}

.remove {
    margin-right: 10px;
}

.cancel {
    margin-left: 10px;
}

.clickable {
    cursor: pointer;
}