.navbar {
    position: fixed;
    display: flex;
    align-items: stretch;
    background-color: var(--main-color);
    width: 100%;
    height: calc(var(--navigator-height));
    margin: 0;
    z-index: 100;
}

.navbar-brand {
    display: inline-block;
    margin: 0;
    padding: 5px;
    height: 45px;
    width: 160px;
    min-width: 160px;
    background: url('/img/cs_study_logo.png') no-repeat;
    background-position: center;
}
.navbar-brand a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.navbar-menu {
    display: flex;
    align-self: stretch;
    align-content: stretch;
    flex-grow: 10;
}
.nav-link:before {
    display:inline-block;
    content: '';
    height:100%;
    vertical-align:middle;
}
.nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: baseline;
    display: inline-block;
}
.nav-link:hover {
    text-decoration: underline;
}
.navbar-search-container {
    display: inline-flex;
    align-items: stretch;
    justify-content: right;
    padding: 10px;
    margin-right: 0;
    margin-left: auto;
    flex-grow: 5;
}
.navbar-search {
    display: flex;
    align-items: stretch;
    border: 2px solid var(--point-color);
    border-radius: 3px;
    background: white;
}
.navbar-search > * {
    border: 0;
}
.navbar-search > #navbar-search-criteria {
    border: 0;
}
.navbar-search > #navbar-search-keyword {
    border: 0;
    flex-grow: 8;
}
.navbar-search > #navbar-search-keyword:focus {
    outline: none;
}
.navbar-search > #btn-navbar-search {
    border: 0;
    flex-grow: 0;
    background: url('/img/search_image.png') no-repeat;
    background-size: contain;
    background-color: white;
    width: 30px;
}

.navbar-buttons {
    display: inline-flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}

.navbar-login {
    margin-left: auto;
    border-left: 1px solid var(--main-color);
}
.navbar-narrow-login {
    margin-left: 5px;
}

.navbar-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
    padding-right: 15px;
    font-weight: bold;
}

.navbar-user-id {
    font-size: 15px;
}
.navbar-logout {
    margin-top: 3px;
    font-size: 10px;
    color: mediumpurple;
}

.navbar-search-show {
    width: 40px;
    height: 30px;
    min-width: 40px;
    margin-left: auto;
    background: url("/img/search_image.png") no-repeat;
    background-size: contain;
    background-position: center;
    border: 0;
    display: none;
    flex-grow: 0;
}

.navbar-narrow {
    border-left: solid 2px rgba(0, 0, 0, 0.3);
    display: block;
    position: fixed;
    align-items: center;
    background-color: var(--main-color);
    width: 250px;
    right: -252px;
    height: 100%;
    margin-right: 0;
    z-index: 102;
    transition: right 0.5s;
}

.navbar-narrow ul, .navbar-narrow li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-narrow-show {
    width: 40px;
    height: 30px;
    min-width: 40px;
    margin-left: auto;
    background: url("/img/narrow_nav_show.png") no-repeat;
    background-size: contain;
    background-position: center;
    border: 0;
    display: none;
    cursor: pointer;
    flex-grow: 0;
}

.navbar-narrow-hide {
    width: 40px;
    height: 30px;
    margin-left: auto;
    background: url("/img/cross_icon.png") no-repeat;
    background-size: contain;
    background-position: center;
    border: 0;
    cursor: pointer;
}

.navbar-narrow-top {
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px solid var(--point-color);
    height: var(--navigator-height);
    background-color: white;
}

.navbar-narrow-brand {
    border-right: 2px solid gray;
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.navbar-narrow-brand a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.navbar-narrow-container {
}

.navbar-narrow-appear {
    right: 0;
}

.navbar-narrow-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.25);
    z-index: 101;
}

.list-narrow-link > li {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: var(--main-color);
}

.list-narrow-link > li > div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #EAC3E9;
}

.list-narrow-link > li:hover {
    color: white;
    background-color: #EAAFFF;
}

.narrow-link-sub {
    display: none;
    padding-left: 10px;
    border: 0;
}

.narrow-link-open {

}

.narrow-link-open + .narrow-link-sub {
    display: block;
}

.narrow-link-open + .narrow-link-sub span {
    font-size: 16px;
    font-weight: bold;
}

.narrow-link-open .drop-mark {
    transform: rotate(-180deg);
}

.navbar-dropdown-sitemap {
    position: fixed;
    border-top: 1px solid var(--point-color);
    width: 100%;
    height: 250px;
    top: -250px;
    z-index: 99;
    background: white;
    transition: top 0.3s ease-out;
}
.navbar-dropdown-sitemap > p {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}
.navbar-dropdown-sitemap > * {
    opacity: 0;
}
.navbar-dropdown-open {
    top: calc(var(--navigator-height));
}
.navbar-dropdown-open > * {
    opacity: 1;
    transition: opacity 0.7s;
}
.navbar-dropdown-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 98;
}
.slick-slider-sitemap {
    display: flex;
    padding: 10px;
    width: calc(100% - 20px);
}
.slick-slider-sitemap > .btn-container-sitemap {
    display: inline-flex;
    align-items: center;
}
#btn-sitemap-pre {
    background: url("/img/arrow_left_image.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    min-width: 30px;
    border: 0;
}

#btn-sitemap-nxt {
    background: url("/img/arrow_right_image.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    min-width: 30px;
    border: 0;
}

.container-sitemap-list {
    display: inline-flex;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 50px;
    max-width: calc(100% - 100px);
}
.sitemap-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: stretch;
    justify-content: space-between;
    transform: translate(0, 0);
}
.sitemap-list-item {
    display: inline-flex;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.sitemap-list img {
    display: inline-block;
    width: 250px;
    height: auto;
}

#modal-insert .modal-window {
    width: 80%;
    height: 600px;
    background-color: #fcfcfc;
}

#modal-insert .modal-contents {
    height: 52%;
}

#modal-insert-title-text {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 40px;
    font-weight: bold;
}

#modal-insert-content-category {
    position: absolute;
    top: 30px;
    right: 20px;
}

#modal-insert-content-category-select {
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

#modal-insert-content-qtitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 105px;
    font-size: 30px;
    font-family: "Ink Free";
}

#modal-insert-content-atitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: "Ink Free";
}

#modal-insert-content-ttitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: "Ink Free";
}

.modal-insert-content-input {
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: -webkit-fill-available;
    font-size: 20px;
    resize: none;
}

#modal-insert-content-question {
    margin-top: 100px;
}

#modal-insert-content-answer {
    height: -webkit-fill-available;
}

#modal-insert-content-tags {
    margin-bottom: 50px;
}

.modal-insert-buttons {
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 25px;
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    background-color: var(--main-color);
}

#modal-insert-buttons-insert {
    right: 110px;
}

#modal-insert-buttons-close {
    right: 40px;
}

.modal-insert-buttons:hover {
    background-color: var(--point-color);
}

.form-interview {
    overflow-y: scroll;
    width: 250px;
    height: 210px;
    margin-bottom: 10px;
}

.interview-category-item {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    background: white;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
}

.interview-category-item > p {
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.interview-category-item:hover {
    background: var(--point-color);
}

.interview-category-checkview {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background: white;
    border: 1px solid black;
    border-radius: 1px;
}

.interview-category-checkbox {
    display: none;
}

.interview-category-checkbox:checked + label {
    background: var(--point-color);
}

.interview-category-checkbox:checked + label > .interview-category-checkview {
    background: black;
}

.page-title {
    position: fixed;
    display: flex;
    padding: 10px;
    border-top: 1px solid var(--point-color);
    width: 100%;
    height: calc(var(--page-title-height) - 21px);
    font-size: 20px;
    font-weight: bold;
    margin-top: 55px;
    border-bottom: 1px solid var(--main-color);
    background: white;
    align-items: center;
    z-index: 98;
}

@media screen and (max-width: 1150px) {
    .navbar-menu {
        display: none
    }
    .navbar-narrow-show {
        display: inline-block;
    }
    .navbar-narrow {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .navbar-search-container {
        position: fixed;
        display: none;
        align-items: stretch;
        justify-content: left;
        padding: 5px;
        width: calc(100vw - 10px);
        height: 40px;
        top: 0px;
        background: var(--main-color);
        margin-right: 0;
        margin-left: auto;
        flex-grow: 5;
        flex-shrink: 1;
    }
    .navbar-search {
        flex-grow: 1;
    }
    .navbar-search-open {
        display: flex;
        top: var(--navigator-height);
    }
    .navbar-search-show {
        display: inline-block;
    }
}

#navbar-search-criteria {
    width: 120px;
}

#navbar-search-criteria .sb-option-selected {
    border-color: white;
    border-width: 0 2px 0 2px;
    height: 100%;
}

#navbar-search-criteria .sb-option-container {
    border: 2px solid var(--point-color);
}

#navbar-search-criteria .sb-option-item:hover {
    background: var(--main-color);
}