<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragment/head::headFragment"></th:block>
        <link rel="stylesheet" href="/css/card.css?ver=1">
    </head>

    <body>
        <th:block th:replace="fragment/navigator::navigator"></th:block>
        <div class="main">
            <div class="card-container" th:each="categoryDto: ${ categoryDtoList }">
                <div class="card-category" onclick="console.log('클릭됨')">
                    <p class="category-name" th:text="${ categoryDto.cname }"></p>
                    <p class="category-count" th:text="${ categoryDto.cnt }"></p>
                </div>
            </div>
        </div>
    </body>
</html>