<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/cardmain.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/cardmain.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <th:block th:replace="fragment/navigator::navigator(title='cardmain')"></th:block>
    <div class="main">
        <div class="category-container">
            <div class="card-frame card-category clickable"
                 th:each="categoryDto: ${ categoryDtoList }"
                 th:attr="onclick=|location.href='/card/category?keyword=${ categoryDto.cid }'|">
                <div class="card-category-name">
                    <p th:text="${ categoryDto.cname }"></p>
                </div>
                <div class="card-category-count">
                    <p th:text="${ categoryDto.cnt }"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>