<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/cardmain.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/cardmain.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <div th:switch="${role}">
        <div th:case="'admin'"><th:block th:replace="fragment/navigator-admin::navigator-admin(title='Main')"></th:block></div>
        <div th:case="'user'"><th:block th:replace="fragment/navigator-user::navigator-user(title='Main', role='user')"></th:block></div>
        <div th:case="*"><th:block th:replace="fragment/navigator-user::navigator-user(title='Main', role='guest')"></th:block></div>
    </div>
    <div class="main">
        <div class="category-container">
            <div class="card-frame card-category clickable"
                 th:each="categoryDto: ${ categoryDtoList }"
                 th:attr="onclick=|location.href='/card/category?keyword=${ categoryDto.id }'|">
                <div class="card-category-name">
                    <p th:text="${ categoryDto.name }"></p>
                </div>
                <div class="card-category-count">
                    <p th:text="${ categoryDto.cardCount }"></p>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        let role = [[${role}]];
    </script>
</body>
</html>