<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="form-container">
        <form name="cardForm" action="/card/insert" method="post">
            <div>
                카테고리:
                <select name="category">
                    <option value="">카테고리 선택</option>
                    <option value="c1">카테고리1</option>
                    <option value="c2">카테고리2</option>
                    <option value="c3">카테고리3</option>
                    <option value="c4">카테고리4</option>
                </select>
            </div>
            <div>
                질문:
                <input type="text" name="question">
            </div>
            <div>
                답변:
                <input type="text" name="answer">
            </div>
            <div>
                태그:
                <input type="text" name="tags">
            </div>
            <input type="submit" value="추가">
        </form>
    </div>
</body>
</html>