<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/categorymanage.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/categorymanage.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <th:block th:replace="fragment/navigator::navigator(title='Category Manage')"></th:block>
    <div class="main">
        <div class="container-item">
            <div class="containerBody" th:each="categoryDto : ${categoryDtoList}">
                <a class="categoryName" th:text="|${categoryDto.cname} (${categoryDto.cnt})|"></a>
                <input type="hidden" class="newCategoryName" onkeyup="enterEvent(event)">
                <img class="delete clickable" height="50px" width="auto"
                     th:attr="onclick=|categoryDelete('${categoryDto.cname}')|"
                     th:src="@{/img/delete_image.png}">
                <img class="update clickable" height="50px" width="auto"
                     th:attr="onclick=|categoryUpdate('${categoryDto.cname}')|"
                     th:src="@{/img/edit_image.png}">
            </div>
            <div class="insert containerLast clickable" onclick="categoryInsert()">
                <img class="insert" id="plusMark" th:src="@{/img/add_image.png}" height="50px">
                <input type="hidden" class="insert newCategoryName" id="newCategoryName" onkeyup="enterEvent(event)">
                <button class="insert clickable" type="button" id="createCategory" onclick="createCategory()">
                    <img class="insert" th:src="@{/img/add_image.png}" height="50px">
                </button>
            </div>
        </div>
    </div>
    <div class="save">
        <button class="clickable" type="button" id="save">SAVE</button>
    </div>
    <div th:replace="fragment/modal::modalFragment(modalId='modal-change',
        title=~{::.modal-change-title},
        buttons=~{::.modal-change-buttons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="modal-change-title">
            <h2 class="change-caution">변경사항을 저장하시겠습니까?</h2>
        </th:block>
        <th:block class="modal-change-buttons">
            <button class="change clickable" type="reset">저장</button>
            <button class="cancel clickable" type="reset">취소</button>
        </th:block>
    </div>
    <script th:inline="javascript">
        var dto = [[${categoryDtoList}]];
    </script>
</body>
</html>