<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/categorymanage.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/categorymanage.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <th:block th:replace="fragment/navigator::navigator"></th:block>
    <div class="main">
        <p id="title">Category</p>
        <div class="container-item">
            <div class="containerBody" th:each="categoryDto : ${categoryDtoList}">
                <div style="display: inline-block" class="category">
                    <a class="categoryName" th:text="${categoryDto.cname}"></a>
                    <input type="hidden" class="newCategoryName">
                </div>
                <td>
                    <img class="update" height="50px" width="auto"
                         th:attr="onclick=|categoryUpdate('${categoryDtoStat.index}')|"
                         th:src="@{/img/edit_image.png}">
                </td>
                <td>
                    <img class="delete" height="50px" width="auto"
                         th:attr="onclick=|categoryDelete('${categoryDtoStat.index}')|"
                         th:src="@{/img/delete_image.png}">
                </td>
            </div>
            <div class="containerLast">
                <div style="display: inline-block" class="category" id="newCategory" onclick="categoryInsert()">
                    <a id="plusMark">+</a>
                    <input type="hidden" id="newCategoryName">
                </div>
                <button style="display: none;" type="button" id="createCategory" onclick="createCategory()">생성</button>
            </div>
        </div>
    </div>
    <dialog class="dialog">
        <h2 class="checkCaution"></h2><br><br>
        <button class="remove" type="reset">삭제</button>
        <button class="cancel" type="reset">취소</button>
    </dialog>
    <script th:inline="javascript">
        var dto = [[${categoryDtoList}]];
    </script>
</body>
</html>