<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragment/head::headFragment"></th:block>
        <link rel="stylesheet" href="/css/listItem.css?ver=1">
    </head>
    <body>
        <th:block th:replace="fragment/navigator::navigator"></th:block>
        <div class="main">
            <h1>카테고리</h1>
            <hr />
            <div class="container-item">
                <div class="item-category">
                    <p>카테고리1</p>
                    <button class="btn-delete-category">삭제</button>
                    <button class="btn-edit-category">수정</button>
                </div>
                <div class="item-category">
                    <p>카테고리2</p>
                    <button class="btn-delete-category">삭제</button>
                    <button class="btn-edit-category">수정</button>
                </div>
                <div class="item-category">
                    <p>카테고리3</p>
                    <button class="btn-delete-category">삭제</button>
                    <button class="btn-edit-category">수정</button>
                </div>
                <div class="item-category">
                    <p>카테고리4</p>
                    <button class="btn-delete-category">삭제</button>
                    <button class="btn-edit-category">수정</button>
                </div>
                <div class="item-category">
                    <p>카테고리5</p>
                    <button class="btn-delete-category">삭제</button>
                    <button class="btn-edit-category">수정</button>
                </div>
                <div class="item-category">
                    <p>카테고리6</p>
                    <button class="btn-delete-category">삭제</button>
                    <button class="btn-edit-category">수정</button>
                </div>
            </div>
            <div class="container-item">
                <div class="item-category item-category-empty">
                    <p>+</p>
                </div>
            </div>
        </div>
    </body>
</html>