<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/interview.css?ver=1}">
    <script defer th:src="@{/js/interview.js?ver=1}"></script>
</head>
<body>
    <th:block th:replace="fragment/navigator::navigator"></th:block>
    <div class="container">
        <p class="text" id="text">CS에 관련된 질문</p>
        <p style="display: none" id="question">CS에 관련된 질문</p>
        <p style="display: none" id="answer">질문에 관련된 답변</p>
    </div>
    <div class="next">
        <button type="button" id="next">다음 문제</button>
    </div>
</body>
</html>