<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/interview.css(ver=${#calendars.createNow()})}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script defer th:src="@{/js/interview.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <div th:switch="${role}">
        <div th:case="'admin'"><th:block th:replace="fragment/navigator-admin::navigator-admin(title='Interview')"></th:block></div>
        <div th:case="'user'"><th:block th:replace="fragment/navigator-user::navigator-user(title='Interview', role='user')"></th:block></div>
        <div th:case="*"><th:block th:replace="fragment/navigator-user::navigator-user(title='Interview', role='guest')"></th:block></div>
    </div>
    <div class="main">
        <div class="flex-content">
            <div class="prev">
                <button class="clickable" type="button" id="prev">
                    <img th:src="@{/img/arrow_left_image.png}" height="30px" style="margin-right: 7px">
                </button>
            </div>
            <div class="card-frame container clickable">
                <p class="card-title">Q.</p>
                <p class="card-category"></p>
                <p class="card-question"></p>
                <div class="card-answer"></div>
            </div>
            <div class="next">
                <button class="clickable" type="button" id="next">
                    <img th:src="@{/img/arrow_right_image.png}" height="30px" style="margin-left: 7px">
                </button>
            </div>
        </div>
        <div class="finish">
            <button class="clickable" type="button" id="finish">끝내기</button>
        </div>
    </div>
    <div th:replace="fragment/modal::modalFragment(modalId='modal-close',
        title=~{::.modal-close-title},
        buttons=~{::.modal-close-buttons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="modal-close-title">
            <p class="close-caution">정말로 끝내시겠습니까?</p>
        </th:block>
        <th:block class="modal-close-buttons">
            <button class="end clickable" type="reset">끝내기</button>
            <button class="cancel clickable" type="reset">취소</button>
        </th:block>
    </div>
    <script th:inline="javascript">
        let dto = [[${cardDtoList}]];
        let keywords = [[${keywords}]];
        let role = [[${role}]];
    </script>
</body>
</html>