<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/list.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/list.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <th:block th:replace="fragment/navigator::navigator"></th:block>
    <div class="head-div">
        <p id="list">List</p>
    </div>
    <div class="container">
        <table class="table" style="table-layout: fixed">
            <tr class="head">
                <th width="10%">ID</th>
                <th width="22%">Category</th>
                <th width="55%">Question</th>
                <th width="30px" class="noline"></th>
                <th width="30px" class="noline"></th>
            </tr>
            <tr class="tableBody" th:each="cardDto : ${cardDtoList}">
                <td class="id"
                    th:text="${cardDto.id}"></td>
                <td class="category"
                    th:text="${cardDto.cid}"></td>
                <td class="question clickable"
                    th:attr="onclick=|text('${cardDto.id}')|"
                    th:text="${cardDto.question}"></td>
                <td class="update">
                    <img class="clickable" height="30px" width="auto"
                         th:attr="onclick=|update('${cardDto.id}')|"
                         th:src="@{/img/edit_image.png}">
                </td>
                <td class="delete">
                    <img class="clickable" height="30px" width="auto"
                         th:attr="onclick=|del('${cardDto.id}')|"
                         th:src="@{/img/delete_image.png}">
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="fragment/modal::modalFragment(modalId='viewModal',
        title=~{::.viewModalTitle},
        content=~{::.viewModalContent},
        buttons=~{::.viewModalButtons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="viewModalTitle">
            <h1>카드 내용</h1>
        </th:block>
        <th:block class="viewModalContent">
            <h3 style="display: inline">번호 : </h3><h3 id="viewId" style="display: inline"></h3><br><br>
            <h3 style="display: inline">장르 : </h3><h3 id="viewCategory" style="display: inline"></h3><br><br>
            <h3 style="display: inline">태그 : </h3><h3 id="viewTags" style="display: inline"></h3><br><br>
            <h3 style="display: inline">질문 : </h3><h3 id="viewQuestion" style="display: inline"></h3><br><br>
            <h3 style="display: inline">답변 : </h3><h3 id="viewAnswer" style="display: inline"></h3><br><br>
        </th:block>
        <th:block class="viewModalButtons">
            <button type="button clickable" onclick="viewModalClose()">닫기</button>
        </th:block>
    </div>
    <div th:replace="fragment/modal::modalFragment(modalId='updateModal',
        title=~{::.updateModalTitle},
        content=~{::.updateModalContent},
        buttons=~{::.updateModalButtons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="updateModalTitle">
            <h1>카드 수정</h1>
        </th:block>
        <th:block class="updateModalContent">
            <h3 style="display: inline">번호 : </h3><h3 id="updateId" style="display: inline"></h3><br><br>
            <h3 style="display: inline">장르 : </h3>
            <form style="display: inline">
                <select id="updateCategory">
                    <option value="none" selected disabled hidden>===선택===</option>
                    <option th:each="categoryDto : ${categoryDtoList}"
                            th:value="${categoryDto.cid}"
                            th:text="${categoryDto.cname}"></option>
                </select>
            </form><br><br>
            <h3 style="display: inline">태그 : </h3><input type="text" id="updateTags" style="display: inline"><br><br>
            <h3 style="display: inline">질문 : </h3><input type="text" id="updateQuestion" style="display: inline"><br><br>
            <h3 style="display: inline">답변 : </h3><input type="text" id="updateAnswer" style="display: inline"><br><br>
        </th:block>
        <th:block class="updateModalButtons">
            <button class="clickable" type="button" onclick="updateModalSubmit()">수정</button>
            <button class="clickable" type="button" onclick="updateModalClose()">닫기</button>
        </th:block>
    </div>
    <dialog class="dialog">
        <h2 class="delete-caution"></h2><br><br>
        <button class="remove clickable" type="reset">삭제</button>
        <button class="cancel clickable" type="reset">취소</button>
    </dialog>
    <script th:inline="javascript">
        var dto = [[${cardDtoList}]];
        var tag = [[${tag}]];
        var question = [[${question}]];
        var cid = [[${cid}]]
        var keystring = [[${keystring}]];
    </script>
</body>
</html>