<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/list.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/list.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <th:block th:replace="fragment/navigator::navigator"></th:block>
    <div class="info">
        <p id="list">List</p>
        <div class="container">
            <table class="table">
                <tr class="head">
                    <th>ID</th>
                    <th>Category</th>
                    <th>Question</th>
                    <th>Tags</th>
                </tr>
                <tr th:each="cardDto : ${cardDtoList}">
                    <td class="id"
                        th:text="${cardDto.id}"></td>
                    <td class="category"
                        th:text="${cardDto.category}"></td>
                    <td class="question"
                        th:attr="onclick=|text('${cardDtoStat.index}')|"
                        th:text="${cardDto.question}"></td>
                    <td class="tags"
                        th:text="${cardDto.tags}"></td>
                    <td class="update">
                        <img height="30px" width="auto"
                             th:attr="onclick=|update('${cardDtoStat.index}')|"
                             th:src="@{/img/edit_image.png}">
                    </td>
                    <td class="delete">
                        <img height="30px" width="auto"
                             th:index="${cardDtoStat.index}"
                             th:attr="onclick=|del('${cardDtoStat.index}')|"
                             th:src="@{/img/delete_image.png}">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal" id="viewModal">
        <h3 style="display: inline">번호 : </h3><h3 id="viewId" style="display: inline"></h3><br><br>
        <h3 style="display: inline">장르 : </h3><h3 id="viewCategory" style="display: inline"></h3><br><br>
        <h3 style="display: inline">태그 : </h3><h3 id="viewTags" style="display: inline"></h3><br><br>
        <h3 style="display: inline">질문 : </h3><h3 id="viewQuestion" style="display: inline"></h3><br><br>
        <h3 style="display: inline">답변 : </h3><h3 id="viewAnswer" style="display: inline"></h3><br><br>
        <button type="button" onclick="viewModalClose()">닫기</button>
    </div>
    <div class="modal" id="updateModal">
        <h3 style="display: inline">번호 : </h3><h3 id="updateId" style="display: inline"></h3><br><br>
        <h3 style="display: inline">장르 : </h3>
        <form style="display: inline">
            <select id="updateCategory">
                <option value="none" selected disabled hidden>===선택===</option>
            </select>
        </form><br><br>
        <h3 style="display: inline">태그 : </h3><input type="text" id="updateTags" style="display: inline"><br><br>
        <h3 style="display: inline">질문 : </h3><input type="text" id="updateQuestion" style="display: inline"><br><br>
        <h3 style="display: inline">답변 : </h3><input type="text" id="updateAnswer" style="display: inline"><br><br>
        <button type="button" onclick="updateModalSubmit()">수정</button>
        <button type="button" onclick="updateModalClose()">닫기</button>
    </div>
    <dialog class="dialog">
        <h2 class="caution">정말로 삭제하시겠습니까?</h2><br><br>
        <button class="remove" type="reset">삭제</button>
        <button class="cancel" type="reset">취소</button>
    </dialog>
    <script th:inline="javascript">
        var dto = [[${cardDtoList}]];
    </script>
</body>
</html>