<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/card_common.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/card_common.js(ver=${#calendars.createNow()})}"></script>
    <title>CS Study</title>
    <link rel="stylesheet" th:href="@{/css/register.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/register.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <div class="loading-page"
         style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: white; z-index: 999; transition: opacity 0.5s, visibility 0.5s">
    </div>
    <div class="register">
        <div class="register-background"></div>
        <form class="register-form">
            <img class="register-title-image" th:src="@{/img/member_register_image.png}">
            <div class="register-id">
                <img class="register-image" th:src="@{/img/id_image.png}">
                <input class="register-input" type="text" placeholder="ID" maxlength="20">
            </div>
            <div class="register-email">
                <img class="register-image" th:src="@{/img/email_image.png}">
                <input class="register-input" type="email" placeholder="E-mail" maxlength="50">
            </div>
            <div class="register-password">
                <img class="register-image" th:src="@{/img/password_image.png}">
                <input class="register-input" type="password" placeholder="Password" maxlength="50">
            </div>
            <div class="register-buttons">
                <button class="register-button clickable" type="button" onclick="register()">등록하기</button>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        let role = [[${role}]];
    </script>
</body>
</html>