<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head::headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/requestmanage.css(ver=${#calendars.createNow()})}">
    <script defer th:src="@{/js/requestmanage.js(ver=${#calendars.createNow()})}"></script>
</head>
<body>
    <div th:switch="${role}">
        <div th:case="'admin'"><th:block th:replace="fragment/navigator-admin::navigator-admin(title='Request Management')"></th:block></div>
        <div th:case="'user'"><th:block th:replace="fragment/navigator-user::navigator-user(title='Request Management', role='user')"></th:block></div>
        <div th:case="*"><th:block th:replace="fragment/navigator-user::navigator-user(title='Request Management', role='guest')"></th:block></div>
    </div>
    <div class="main">
        <div class="menu">
            <a class="menu-item clickable" onclick="moveCardAdd()">카드 추가 요청</a>
            <a class="menu-item clickable" onclick="moveSubRequest()">기타 요청</a>
        </div>
        <div class="container-bar">
            <a class="container-title">카드 추가 요청</a>
            <input class="container-search" type="number" placeholder="Card ID"/>
            <img class="container-search-button clickable" height="30px" width="auto"
                 onclick="cardRequestSearch()"
                 th:src="@{/img/search_image.png}"/>
            <img class="container-add-button clickable" height="30px" width="auto"
                 onclick="writeRequest()"
                 th:src="@{/img/add_image.png}"/>
        </div>
        <div class="container">
            <table class="table"></table>
        </div>
    </div>
    <div th:replace="fragment/modal::modalFragment(modalId='modal-cardview',
        title=~{::.modal-cardview-title},
        content=~{::.modal-cardview-content},
        buttons=~{::.modal-cardview-buttons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="modal-cardview-title">
            <a class="modal-title-text" id="modal-cardview-title-text"></a>
        </th:block>
        <th:block class="modal-cardview-content">
            <div class="modal-content-infos">
                <a class="modal-content-category" id="modal-cardview-content-category"></a>
                <a class="modal-content-requestID" id="modal-cardview-content-requestID"></a>
            </div>

            <a class="modal-content-title modal-title-question">Q.</a>
            <textarea disabled="true" class="modal-content-textarea"
                      id="modal-cardview-content-question"></textarea>
            <a class="modal-content-title modal-title-answer">A.</a>
            <textarea disabled="true" class="modal-content-textarea"
                      id="modal-cardview-content-answer"></textarea>
            <a class="modal-content-title modal-title-tags">T.</a>
            <textarea disabled="true" class="modal-content-textarea"
                      id="modal-cardview-content-tags"></textarea>
        </th:block>
        <th:block class="modal-cardview-buttons">
            <button th:if="${ role } == 'admin'" class="clickable" type="button"
                    onclick="cardAccept()">수락</button>
            <button th:if="${ role } == 'admin'" class="clickable" type="button"
                    onclick="cardReject()">거절</button>
            <button class="clickable" type="button"
                    onclick="cardViewModalClose()">닫기</button>
        </th:block>
    </div>
    <div th:replace="fragment/modal::modalFragment(modalId='modal-subview',
        title=~{::.modal-subview-title},
        content=~{::.modal-subview-content},
        buttons=~{::.modal-subview-buttons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="modal-subview-title">
            <a class="modal-title-text" id="modal-subview-title-text"></a>
        </th:block>
        <th:block class="modal-subview-content">
            <div class="modal-content-infos">
                <a class="modal-content-requestID" id="modal-subview-content-requestID"></a>
            </div>

            <a class="modal-content-title modal-title-title">T.</a>
            <textarea disabled="true" class="modal-content-textarea"
                      id="modal-subview-content-title"></textarea>
            <a class="modal-content-title modal-title-content">C.</a>
            <textarea disabled="true" class="modal-content-textarea"
                      id="modal-subview-content-content"></textarea>
        </th:block>
        <th:block class="modal-subview-buttons">
            <button th:if="${ role } == 'admin'" class="clickable" type="button"
                    onclick="subAccept()">수락</button>
            <button th:if="${ role } == 'admin'" class="clickable" type="button"
                    onclick="subReject()">거절</button>
            <button class="clickable" type="button"
                    onclick="subViewModalClose()">닫기</button>
        </th:block>
    </div>
    <div th:replace="fragment/modal::modalFragment(modalId='modal-subwrite',
        title=~{::.modal-subwrite-title},
        content=~{::.modal-subwrite-content},
        buttons=~{::.modal-subwrite-buttons},
        closeButton=false,
        escClose=true,
        outClose=true)">
        <th:block class="modal-subwrite-title">
            <a class="modal-title-text" id="modal-subwrite-title-text">기타 요청</a>
        </th:block>
        <th:block class="modal-subwrite-content">

            <a class="modal-content-title modal-title-title">T.</a>
            <textarea class="modal-content-textarea"
                      id="modal-subwrite-content-title"></textarea>
            <a class="modal-content-title modal-title-content">C.</a>
            <textarea class="modal-content-textarea"
                      id="modal-subwrite-content-content"></textarea>
        </th:block>
        <th:block class="modal-subwrite-buttons">
            <button th:if="${ role } == 'admin'" class="clickable" type="button"
                    onclick="subAccept()">수락</button>
            <button th:if="${ role } == 'admin'" class="clickable" type="button"
                    onclick="subReject()">거절</button>
            <button class="clickable" type="button"
                    onclick="subWriteModalClose()">닫기</button>
        </th:block>
    </div>
    <script th:inline="javascript">
        let role = [[${role}]];
    </script>
</body>
</html>